# Here I will share different data types

## Numeric Types

In [9]:
1+5

6

In [10]:
8*9

72

In [11]:
6/2

3.0

In [12]:
2**5

32

In [13]:
2**100

1267650600228229401496703205376

In [14]:
2**200

1606938044258990275541962092341162602522202993782792835301376

In [15]:
10/7

1.4285714285714286

In [16]:
10//7

1

In [17]:
a = 5

In [18]:
a

5

In [19]:
a = 5
a = 10

In [20]:
a

10

In [22]:
a = 5
a = "hello"

In [23]:
a

'hello'

## String

In [25]:
str1 = "meet"

In [26]:
str2 = 'meet'

In [27]:
a = " hello World "

In [28]:
a[3]

'l'

In [30]:
a[7]

'W'

In [31]:
a[-6]

'W'

In [32]:
a[-1]

' '

In [33]:
b = "hello world"

string[ start:stop:step ]

In [35]:
b[0:3]

'hel'

In [36]:
b[4:]

'o world'

In [39]:
b[:5]

'hello'

In [41]:
b[::2]

'hlowrd'

In [42]:
b[-1:]

'd'

In [43]:
b[3:-1]

'lo worl'

In [44]:
a = " name "

In [45]:
a[1] = "N"

TypeError: 'str' object does not support item assignment

In [46]:
a = "Name"

In [47]:
a

'Name'

In [48]:
a = "name"

In [49]:
a[1:]

'ame'

In [50]:
new = "N" + a[1:]

In [51]:
new

'Name'

In [52]:
a

'name'

In [53]:
new

'Name'

In [54]:
new.upper()

'NAME'

In [55]:
new.lower()

'name'

In [56]:
new

'Name'

In [57]:
new = new.lower()

In [58]:
new

'name'

In [59]:
new = "This is a python session"

In [60]:
new.split()

['This', 'is', 'a', 'python', 'session']

In [61]:
new.split("i")

['Th', 's ', 's a python sess', 'on']

In [62]:
new.isalpha()

False

In [63]:
new

'This is a python session'

In [64]:
new.islower()

False

In [66]:
new = new.lower()

In [67]:
new.islower()

True

In [68]:
new

'this is a python session'

In [69]:
# this is comment

In [71]:
'''
this
is
a 
comment
'''

'\nthis\nis\na \ncomment\n'

In [72]:
new_strng = "this \n is \n line"

In [73]:
new_strng

'this \n is \n line'

In [74]:
print(new_strng)

this
 is
 line

\n --- create new line
\t --- create 4 spaces or 1 tab equal space

## Print Formatting

In [75]:
name = "meet"

In [76]:
print(" my name is {}".format(name))

 my name is meet

In [77]:
print(" {} {} {} ".format("abc","cde","fgh"))

 abc cde fgh

In [78]:
print(" {0} {2} {1} ".format("abc","cde","fgh"))

 abc fgh cde

In [79]:
print(" {b} {a} {c} ".format(a="abc",b="cde",c="fgh"))

 cde abc fgh

In [81]:
result = 100/22

In [82]:
result

4.545454545454546

## Syntax for floating point print formatting

:width.precisionf

In [88]:
print("this is a number{r:5.2f} ".format(r=result))

this is a number 4.55

## f-string method

In [89]:
name

'meet'

In [90]:
print(f" my name is {name} ")

 my name is meet

In [91]:
name = "he"
gender = "boy"

In [92]:
print(f" {name} is a {gender} ")

 he is a boy

# Lists

In [93]:
l = [1, 2, 3]

In [94]:
l

[1, 2, 3]

In [95]:
l = [1, "string", "abc", 3, [1,2]]

In [96]:
l

[1, 'string', 'abc', 3, [1, 2]]

In [97]:
len(l)

5

In [98]:
len(l[-1])

2

In [99]:
l[-2]

3

In [102]:
l[-2] = "new value"

In [103]:
l

[1, 'string', 'abc', 'new value', [1, 2]]

In [104]:
l[2:]

['abc', 'new value', [1, 2]]

In [105]:
a = "name"

In [106]:
l = [ 1, 2, "meet"]

In [119]:
l.append("3")

In [120]:
l

[1, 2, 'meet', 'append', '3']

In [115]:
popped_value = l.pop()

In [116]:
l

[1, 2, 'meet', 'append']

In [117]:
popped_value

'3'

In [121]:
l

[1, 2, 'meet', 'append', '3']

In [122]:
l.pop(1)

2

In [123]:
l

[1, 'meet', 'append', '3']

In [124]:
l = [1,7,4,2,9]
l2 = ['a', 'z', 'c']

In [125]:
l.sort()

In [126]:
l

[1, 2, 4, 7, 9]

In [127]:
l2.sort()

In [128]:
l2

['a', 'c', 'z']

In [129]:
new_list = l.sort()

In [130]:
new_list

### Note - l.sort() does not return any value

In [136]:
l=[2,3,4,5,6]

In [137]:
l.reverse()

In [138]:
l

[6, 5, 4, 3, 2]

In [140]:
l.clear()

In [141]:
l

[]

In [145]:
l1 = [1,2,3]
l3 = ["meet", "parekh"]

# Tuples

In [148]:
t = (1,2,3)

In [149]:
t

(1, 2, 3)

In [150]:
l = [1,2,3]

In [151]:
l[1]=5

In [152]:
t[1]=5

TypeError: 'tuple' object does not support item assignment

### To check data type of particular variable use type()

In [153]:
type(t)

tuple

In [154]:
type(l)

list

In [155]:
t

(1, 2, 3)

In [156]:
t[3]

IndexError: tuple index out of range

In [157]:
t[2]

3

In [158]:
t[2:]

(3,)

In [160]:
l[-1:]

[3]

In [161]:
t1 = (2)

t2 = (2,)

In [162]:
type(t1)

int

In [163]:
type(t2)

tuple

In [164]:
t = (1,1,1,1,3,3,3,3,3,55,5,5,5,5,5,5,5,2)

In [165]:
t.count(3)

5

In [166]:
t.index(3)

4

# Set

In [167]:
s = {1,2,3}

In [168]:
s

{1, 2, 3}

In [169]:
s = set()

In [170]:
s

set()

In [171]:
type(s)

set

In [185]:
s.add(10)

In [186]:
s

{4, 6, 8, 9, 10, 90}

In [188]:
print(s)
for i in s:
    print(i)

{4, 6, 8, 9, 10, 90}
4
6
8
9
10
90

In [189]:
s[2]

TypeError: 'set' object is not subscriptable

In [190]:
s = {"meet"}

In [191]:
s

{'meet'}

In [194]:
s = set("meet parekh")

In [195]:
s

{' ', 'a', 'e', 'h', 'k', 'm', 'p', 'r', 't'}

In [196]:
l = list("meet parekh")

In [197]:
l

['m', 'e', 'e', 't', ' ', 'p', 'a', 'r', 'e', 'k', 'h']

Immutable - sets, tuples.
unique - sets

In [200]:
s.pop()

'h'

In [199]:
s

{'a', 'e', 'h', 'k', 'm', 'p', 'r', 't'}

# Boolean

In [201]:
True

True

In [202]:
False

False

In [203]:
type(True)

bool

In [204]:
1 > 3

False

In [205]:
2 == "2"

False

In [206]:
2 == 2

True

# Dictionary

In [207]:
d = {1: "meet", 2: "parekh"}

In [208]:
d

{1: 'meet', 2: 'parekh'}

In [209]:
d2 = dict({1:"meet"})

In [210]:
d2

{1: 'meet'}

In [216]:
d3 = {1,}

In [217]:
type(d3)

set

In [218]:
d.sort()

AttributeError: 'dict' object has no attribute 'sort'

In [226]:
d1 = {"meet":"16it052", 2:"meet", 3:{1:5}}

In [227]:
d1

{'meet': '16it052', 2: 'meet', 3: {1: 5}}

When to use dict and list

list is to be used when elements are identified using the index

when you need to get value using key, use a dictionary

In [236]:
d = {1:"hello", 2:"world", 3:"meet"}

In [237]:
d[4]="parekh"

In [238]:
d

{1: 'hello', 2: 'world', 3: 'meet', 4: 'parekh'}

In [232]:
d.pop(4)

'parekh'

In [233]:
d

{1: 'hello', 2: 'world', 3: 'meet'}

In [234]:
d.popitem()

(3, 'meet')

In [235]:
d

{1: 'hello', 2: 'world'}

In [239]:
d[4] = "demo"

In [240]:
d

{1: 'hello', 2: 'world', 3: 'meet', 4: 'demo'}

In [241]:
d.keys()

dict_keys([1, 2, 3, 4])

In [242]:
d.values()

dict_values(['hello', 'world', 'meet', 'demo'])

In [243]:
d.items()

dict_items([(1, 'hello'), (2, 'world'), (3, 'meet'), (4, 'demo')])

In [244]:
d.clear()

In [245]:
d

{}

# Operators

### Logical ops

In [250]:
3 > 1 and 2 < 1

False

In [251]:
3 > 1 or 2 < 1

True

In [252]:
not(3>1)

False

### Comparison Ops

>=, <=, <, >etc

In [253]:
1 >= 1

True

In [254]:
2 != 1

True

In [255]:
3 < 10

True

### Arithmetic Ops

In [256]:
2**19

524288

In [257]:
13/12

1.0833333333333333

In [258]:
13%12

1

### Assignment Ops

In [259]:
a = 5

In [272]:
a%=5

In [273]:
a

0.0

### Identity Ops

In [282]:
a = "1"
b = "2"

In [283]:
a is not b

True

### Membership Ops

In [285]:
a=[1,2,3,4,"m"]

In [286]:
a

[1, 2, 3, 4, 'm']

In [288]:
"1" in a

False

# Task

In [248]:
(0.1 + 0.2) - 0.3

5.551115123125783e-17

In [1]:
0.1

0.1

In [2]:
0.0001100011

0.0001100011

In [3]:
1/10

0.1